{% extends 'templates/app.twig' %}

{% block content %}
    {% include 'templates/navigation.twig' with {'categories': categories } %}
    <div class="wrap">
        <h2 style="text-align: center;">Нэвтэрч орно уу</h2>



        <br/>
        <br/>
        <br/>
    </div>
{% endblock %}