{% extends 'templates/app.twig' %}

{% block content %}
    {% include 'templates/navigation.twig' with {'categories': categories } %}
    <div class="wrap">
        <h2 style="text-align: center;">Төлбөр төлөх</h2>
        <script src="http://cdn.lend.mn/3rdparty/embedded/and-ds.js" type="text/javascript"></script>
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <p>
                Захиалга амжилттай бүртгэлээ.
                <br>
                Таны захиалгын дугаар <b>#{{ order.id }}</b>

                <br>
                Та төлбөрөө төлнө үү
                <br>
                <br>
                <br>
            </p>
            <div id="and-ds">
                <script type="text/javascript">
                    ANDDS.button({
                        "container": "and-ds",
                        "invoiceNumber": "{{ invoice['invoiceNumber'] }}",
                        "amount": "{{ order['amount'] }}",
                        "callback": function (params) {
                            alert(JSON.stringify(params));
                        }
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}